
/* Background image */

body  {
  background-image: url("Images/wallpaperflare.com_wallpaper.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-color: #cccccc;
  background-attachment: fixed;
}


 /* grid setup */ 

 .wrapper {
	display: grid;
	grid-template-columns: 230px 1fr ;
	grid-template-rows: auto;
	grid-template-areas:
		"nav nav"
        "logo banner"
		"gallery gallery"
        "main main"
		"footer footer";
	grid-gap: 4px;
 }


 /* area styling  */

 .box {
	border: solid 1px #000;
	padding: 10px;
	background-color: #ddd;
	border-radius: 3px;
    margin-right: 5px;
 }


 /* area specifics */ 

.logo, .banner, .nav, .main, .footer {color: #fff;}

/* Navigation tabs setup */

.nav {
	grid-area: nav;
	background-color: #041822; /* Teal */
	font-size: 150%;
    overflow: hidden;
    border-radius: 3px;
    border-color: teal;
    width: 98%;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
    
/* Navigation links setup */

.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 3px;
}

/* How navigation reacts when the mouse hovers over it */

.nav a:hover {
     background-color: #ddd;
  color: black;
}

.nav a.active {
    background-color: #4CAF50;
  color: white;
}

/* paragraph font setup */

p {
    font-family: 'Oswald', sans-serif;
}

/* Header font setup */

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

/* Logo image setup */

.logo {
	grid-area: logo;
	background-color: #6E87BB; /* light blue */
    background: url(Images/TF2helmet.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 170px;
}

/* banner image setup */

.banner {
	grid-area: banner;     
	background-color: #315190;/* Dark blue */ 
    background: url(Images/Titanfall-2-09-HD.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: auto;
}

/* Main content box styling */

.main {
	grid-area: main;
	background-color: #043147; 
}

/* Splits the index main box into 2 */

.main.indexpage {
    display: flex;
    font-size: 20px;
}

/* footer styling */

.footer {
	grid-area: footer;
	text-align: right;
	background-color: #041822;
}

/* aligns all iframes to centre */


/* Parallax image setup for characters tab */

.parallax-1 {
  background-image: url("Images/jack-cooper-titanfall-2-4k-1920x1080.jpg") ;
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;   
}
 
.parallax-2 {
  background-image: url("Images/maxresdefault-2.jpg") ;
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-3 {
  background-image: url("Images/Capture.PNG");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-4 {
  background-image: url("Images/respawn-entertainment-hethe-srodawa-callsign-sarah.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-5 {
  background-image: url("Images/Titanfall-2-Blisk-Apex-Legends-Character.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}